.MuiInputBase-root {
	background-color: #151414 !important;
	font-weight: 300 !important;
	font-size: 14px !important;
	line-height: 140% !important;
	color: rgba(255, 255, 255, 0.64) !important;
	font-family: 'Inter' !important;
	border-radius: 6px !important;
}

.MuiAutocomplete-paper {
	background-color: #1f1e1e !important;
	font-family: 'Inter' !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 14px !important;
	line-height: 140% !important;
	color: rgba(255, 255, 255, 0.64) !important;
}

.MuiTextField-root {
	outline: none !important;
	border: none !important;
}

.MuiIconButton-root {
	color: rgba(255, 255, 255, 0.64) !important;
}

.Mui-disabled {
	color: rgba(255, 255, 255, 0.64) !important;
	font-family: 'Inter' !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	line-height: 20px !important;
}

.MuiSelect-icon {
	color: rgba(255, 255, 255, 0.88) !important;
}

.MuiFormControlLabel-root {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* .Mui-checked {
	background-color: #137cbd !important;
	background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, 0)) !important;
} */
